* {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-weight: 400;
  color: var(--brand-color2);
  font-family: "Roboto", sans-serif;
}

:root {
  --brand-color: #272734;
  --blu-color: #4d5ae5;
  --blu-color2: #404bbf;
  --brand-color2: #2e2f42;
  --white-color: #fff;
  --white-color2: #f4f4fd;
  --white-color3: #e7e9fc;
}

.logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.4;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color2);
}

.logo span {
  color: var(--blu-color);
}

header {
  margin: 0 auto;
  width: 1128px;
  display: flex;
  justify-content: space-between;
}

.header__menu {
  display: flex;
}

.header__menu__list {
  display: flex;
  align-items: center;
}

.header__menu__list a {
  color: var(--brand-color2);
}

.header__menu__link:hover,
.header__menu__link:focus {
  color: var(--brand-color);
}

.header__menu__link:active {
  color: var(--blu-color);
}

.header__contact {
  display: flex;
}

.header__contact li a {
  color: var(--brand-color);
}

.header__contact__link:hover,
.header__contact__link:focus {
  color: var(--brand-color);
}

.header__contact__link:active {
  color: var(--blu-color);
}

.main__header {
  background-color: var(--brand-color2);
}

.main__header h1 {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.08;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

.main__header button {
  width: 170px;
  height: 51px;
  left: 635px;
  top: 432px;
  background: var(--blu-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.19;
  color: var(--white-color);
  border: none;
  cursor: pointer;
}

.main__header button:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.main__header button:active {
  background: var(--blu-color2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.main__text h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.main__text p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.main__descr h3 {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.12;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.main__team {
  background-color: var(--white-color2);
}

.main__team h3 {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.12;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.teammate h3 {
  font-weight: 6003;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}

.teammate p {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

footer {
  background-color: var(--brand-color2);
}

footer p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--white-color3);
}

.logo__footer {
  color: var(--white-color2);
}

/* Portfolio */

.portfolio__buttons button {
  background: var(--white-color2);
  border: 1px solid var(--white-color3);
  border-radius: 4px;
  color: var(--blu-color);
  cursor: pointer;
}

.portfolio__buttons button:hover,
.portfolio__buttons button:focus {
  background: var(--blu-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  color: var(--white-color);
}

.portfolio__buttons button:active {
  background: var(--blu-color2);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-color);
}

.portfolio__item h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio__item p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}
